<div class="container" style="padding-top: 90px;">
    <div class="row">
        <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Wait for the blast...</p>
        </aside>
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                    Hello! I'm Pushapdeep Singh Khural. Currently, I'm studying Computer Programming and have a keen interest in Sports and Computers. My goal is to become the best version of myself.
                </p>
            </article>
        </section>
    </div>
</div>
